<header class="z-10 w-full bg-white transition-shadow duration-300">
  <nav class="mx-auto flex max-w-7xl items-center justify-between !p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <div class="opacity-100 hidden"></div>
      <a id="header-icon" href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">BWS E-Mobility Technologies</span>
        {{ partial "image.html" (dict "Src" .Site.Params.logo "Alt" "BWS Logo White") }}
      </a>
    </div>
    <div class="flex lg:hidden">
      <button id="header-open-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {{ range .Site.Data.navigation.main }}
        {{ if .childs }}
          <div class="relative">
            <button type="button" class="header-flyout-button flex items-center gap-x-1 text-sm font-semibold tracking-wide leading-6 text-gray-900 hover:text-gray-900 uppercase" aria-expanded="false">
              {{ .name }}
              <svg class="h-5 w-5 flex-none text-gray-400 pointer-events-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
            {{ if eq .iconList true }}
              <div class="header-flyout-menu opacity-0 invisible absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 ease-in-out duration-200">
                <div class="p-4">
                  {{ if isset . "url" }}
                    <a href="{{ .url }}" class="group block !p-2 text-center rounded-lg hover:bg-gray-50">
                      <span class="text-sm font-semibold text-blue-800 group-hover:text-blue-700">{{ if isset . "label" }}{{ .label }}{{ else }}Übersicht{{ end }}</span>
                    </a>
                  {{ end }}
                  {{ range .childs }}
                    <div class="group relative flex items-center gap-x-6 rounded-lg !p-4 text-sm leading-6 hover:bg-gray-50">
                      <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                        <svg class="w-6 h-6 text-gray-600 group-hover:text-blue-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                          {{ .icon | safeHTML }}
                        </svg>
                      </div>
                      <div class="flex-auto">
                        <a href="{{ .url }}" class="block font-semibold text-gray-900 hover:text-gray-900">
                          {{ .name }}
                          <span class="absolute inset-0"></span>
                        </a>
                        <p class="mt-1 text-gray-600">{{ .description }}</p>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            {{ else }}
              <div class="header-flyout-menu opacity-0 invisible absolute -left-8 top-full z-10 mt-3 w-56 rounded-xl bg-white !p-2 shadow-lg ring-1 ring-gray-900/5">
                {{ range .childs }}
                  <a href="{{ .url }}" class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50">{{ .name }}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ else }}
          <a href="{{ .url }}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-900 tracking-wide uppercase">{{ .name }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/contact" class="rounded-full bg-[#1e40af] px-3.5 py-2.5 text-sm font-semibold !text-white tracking-wide uppercase shadow-sm hover:bg-blue-700 hover:!text-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 duration-200">
        Contact us
      </a>
    </div>
  </nav>

  <div id="header-mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10 backdrop-blur-sm"></div>
    <div focus="true" class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">HanovaTech</span>
          <img class="w-48" src="/images/hanovatech_logo_color.svg" alt="HanovaTech">
        </a>
        <button id="header-close-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            {{ range .Site.Data.navigation.main }}
              {{ if .childs }}
                <div class="-mx-3">
                  <button type="button" class="header-submenu-button flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false">
                    {{ .name }}
                    <svg class="h-5 w-5 flex-none pointer-events-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <div class="hidden mt-2 space-y-2">
                    {{ if isset . "url" }}
                      <a href="{{ .url }}" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Übersicht</a>
                    {{ end }}
                    {{ range .childs }}
                      <a href="{{ .url }}" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{ .name }}</a>
                    {{ end }}
                  </div>
                </div>
              {{ else }}
                <a href="{{ .url }}" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{ .name }}</a>
              {{ end }}
            {{ end }}
          </div>
          <div class="py-6">
            <a href="/kontakt" class="-mx-3 block bg-blue-600 rounded-lg py-2.5 px-3 text-center text-white font-semibold leading-7 text-gray-900 hover:bg-blue-700 duration-200">
              Kontakt <span aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


  <!-- Header Start -->
<script>
  // Fixed Header Start
  function toggleFixedHeader() {
    if (window.scrollY === 0) {
      const headers = document.getElementsByTagName("header")
      headers[0].classList.remove("fixed", "shadow-md")
      if (headers.length > 1)
        headers[1].remove()
    } else {
      const headers = document.getElementsByTagName("header")
      if (headers.length === 1) {
        const new_header = headers[0].cloneNode(true)
        new_header.style.zIndex = -1
        new_header.style.opacity = 0
        headers[0].classList.add("fixed", "shadow-md")
        headers[0].after(new_header)
      }
    }
  }

  toggleFixedHeader()
  window.addEventListener("scroll", () => {
    toggleFixedHeader()
  })
  // Fixed Header End

  // Toggle Mobile Menu Start
  document.getElementById("header-open-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })

  document.getElementById("header-close-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })
  // Toggle Mobile Menu End

  // Toggle Mobile Submenu Start
  const mobileSubmenuButtons = document.getElementsByClassName("header-submenu-button")
  for (const button of mobileSubmenuButtons) {
    button.addEventListener("click", event => {
      const button = event.target
      button.children[0].classList.toggle("rotate-180")
      const submenu = button.nextElementSibling
      submenu.classList.toggle("hidden")
    })
  }
  // Toggle Mobile Submenu End

  // Toggle Desktop Flyout Menu Start
  const desktopFlyoutButtons = document.getElementsByClassName("header-flyout-button")
  for (const button of desktopFlyoutButtons) {
    button.addEventListener("click", event => {
      // hide other flyout menus
      for (const b of desktopFlyoutButtons) {
        if (b != event.target) {
          b.nextElementSibling.style.opacity = "0"
          b.nextElementSibling.style.visibility = "hidden"
        }
      }

      // toggle related flyout menu
      const flyoutMenu = event.target.nextElementSibling
      if (flyoutMenu.style.opacity != 1) {
        flyoutMenu.style.setProperty("opacity", "1", "important")
        flyoutMenu.style.setProperty("visibility", "visible", "important")
        {{/*  flyoutMenu.style.opacity = 1
        flyoutMenu.style.visibility = "visible !important"  */}}
      } else {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      }
    })
  }

  function closeFlyoutMenus(event) {
    if (!event.target.classList.contains("header-flyout-button")) {
      for (const flyoutMenu of document.getElementsByClassName("header-flyout-menu")) {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      }
    }
  }

  document.addEventListener("click", closeFlyoutMenus)
  // Toggle Desktop Flyout Menu End
</script>
<!-- Header End -->